@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@custom-variant cosmic (&:is(.cosmic *));
@custom-variant tangerine (&:is(.tangerine *));
@custom-variant vercel (&:is(.vercel *));

:root {
  --background: oklch(0.99 0 0);
  --foreground: oklch(0.2 0 0);
  --card: oklch(0.99 0 0);
  --card-foreground: oklch(0.2 0 0);
  --popover: oklch(0.99 0 0);
  --popover-foreground: oklch(0.44 0 0);
  --primary: oklch(0.83 0.13 160.91);
  --primary-foreground: oklch(0.26 0.01 166.46);
  --secondary: oklch(0.99 0 0);
  --secondary-foreground: oklch(0.2 0 0);
  --muted: oklch(0.95 0 0);
  --muted-foreground: oklch(0.24 0 0);
  --accent: oklch(0.95 0 0);
  --accent-foreground: oklch(0.24 0 0);
  --destructive: oklch(0.55 0.19 32.73);
  --destructive-foreground: oklch(0.99 0 17.21);
  --border: oklch(0.9 0 0);
  --input: oklch(0.97 0 0);
  --ring: oklch(0.83 0.13 160.91);
  --chart-1: oklch(0.83 0.13 160.91);
  --chart-2: oklch(0.62 0.19 259.81);
  --chart-3: oklch(0.61 0.22 292.72);
  --chart-4: oklch(0.77 0.16 70.08);
  --chart-5: oklch(0.7 0.15 162.48);
  --sidebar: oklch(0.99 0 0);
  --sidebar-foreground: oklch(0.55 0 0);
  --sidebar-primary: oklch(0.83 0.13 160.91);
  --sidebar-primary-foreground: oklch(0.26 0.01 166.46);
  --sidebar-accent: oklch(0.95 0 0);
  --sidebar-accent-foreground: oklch(0.24 0 0);
  --sidebar-border: oklch(0.9 0 0);
  --sidebar-ring: oklch(0.83 0.13 160.91);
  --font-sans: Geist, sans-serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
  --tracking-normal: 0.025em;
}

.tangerine {
  --background: oklch(0.27 0 106.64);
  --foreground: oklch(0.81 0.01 93.01);
  --card: oklch(0.27 0 106.64);
  --card-foreground: oklch(0.98 0.01 95.1);
  --popover: oklch(0.31 0 106.6);
  --popover-foreground: oklch(0.92 0 106.48);
  --primary: oklch(0.67 0.13 38.76);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.98 0.01 95.1);
  --secondary-foreground: oklch(0.31 0 106.6);
  --muted: oklch(0.22 0 106.71);
  --muted-foreground: oklch(0.77 0.02 99.07);
  --accent: oklch(0.21 0.01 95.42);
  --accent-foreground: oklch(0.97 0.01 98.88);
  --destructive: oklch(0.64 0.21 25.33);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.36 0.01 106.89);
  --input: oklch(0.43 0.01 100.22);
  --ring: oklch(0.59 0.17 253.06);
  --chart-1: oklch(0.56 0.13 43);
  --chart-2: oklch(0.69 0.16 290.41);
  --chart-3: oklch(0.21 0.01 95.42);
  --chart-4: oklch(0.31 0.05 289.32);
  --chart-5: oklch(0.56 0.13 42.06);
  --sidebar: oklch(0.24 0 67.71);
  --sidebar-foreground: oklch(0.81 0.01 93.01);
  --sidebar-primary: oklch(0.33 0 0);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.17 0 106.62);
  --sidebar-accent-foreground: oklch(0.81 0.01 93.01);
  --sidebar-border: oklch(0.94 0 0);
  --sidebar-ring: oklch(0.77 0 0);
  --font-sans: Geist, sans-serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.cosmic {
  --background: oklch(0.17 0.02 283.8);
  --foreground: oklch(0.92 0.03 285.88);
  --card: oklch(0.23 0.04 282.93);
  --card-foreground: oklch(0.92 0.03 285.88);
  --popover: oklch(0.23 0.04 282.93);
  --popover-foreground: oklch(0.92 0.03 285.88);
  --primary: oklch(0.72 0.16 290.4);
  --primary-foreground: oklch(0.17 0.02 283.8);
  --secondary: oklch(0.31 0.07 283.46);
  --secondary-foreground: oklch(0.84 0.08 285.91);
  --muted: oklch(0.27 0.06 281.44);
  --muted-foreground: oklch(0.72 0.05 285.17);
  --accent: oklch(0.34 0.08 280.97);
  --accent-foreground: oklch(0.92 0.03 285.88);
  --destructive: oklch(0.69 0.21 14.99);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.33 0.06 282.58);
  --input: oklch(0.33 0.06 282.58);
  --ring: oklch(0.72 0.16 290.4);
  --chart-1: oklch(0.72 0.16 290.4);
  --chart-2: oklch(0.64 0.1 274.91);
  --chart-3: oklch(0.75 0.12 244.75);
  --chart-4: oklch(0.71 0.1 186.68);
  --chart-5: oklch(0.75 0.18 346.81);
  --sidebar: oklch(0.23 0.04 282.93);
  --sidebar-foreground: oklch(0.92 0.03 285.88);
  --sidebar-primary: oklch(0.72 0.16 290.4);
  --sidebar-primary-foreground: oklch(0.17 0.02 283.8);
  --sidebar-accent: oklch(0.34 0.08 280.97);
  --sidebar-accent-foreground: oklch(0.92 0.03 285.88);
  --sidebar-border: oklch(0.33 0.06 282.58);
  --font-sans: Geist, sans-serif;
  --font-mono: Geist Mono, monospace;
  --sidebar-ring: oklch(0.72 0.16 290.4);
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow-md: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 2px 4px -1px hsl(240 30% 25% / 0.12);
  --shadow-lg: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 4px 6px -1px hsl(240 30% 25% / 0.12);
  --shadow-xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 8px 10px -1px hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.3);
}

.vercel {
  --background: oklch(0 0 0);
  --foreground: oklch(1 0 0);
  --card: oklch(0.14 0 0);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.18 0 0);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(1 0 0);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.25 0 0);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.23 0 0);
  --muted-foreground: oklch(0.72 0 0);
  --accent: oklch(0.32 0 0);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.69 0.2 23.91);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.26 0 0);
  --input: oklch(0.32 0 0);
  --ring: oklch(0.72 0 0);
  --chart-1: oklch(0.81 0.17 75.35);
  --chart-2: oklch(0.58 0.21 260.84);
  --chart-3: oklch(0.56 0 0);
  --chart-4: oklch(0.44 0 0);
  --chart-5: oklch(0.92 0 0);
  --sidebar: oklch(0.18 0 0);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(1 0 0);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.32 0 0);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.32 0 0);
  --sidebar-ring: oklch(0.72 0 0);
  --font-sans: Geist, sans-serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
    0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
}

.dark {
  --background: oklch(0.18 0 0);
  --foreground: oklch(0.93 0.01 255.51);
  --card: oklch(0.2 0 0);
  --card-foreground: oklch(0.93 0.01 255.51);
  --popover: oklch(0.26 0 0);
  --popover-foreground: oklch(0.73 0 0);
  --primary: oklch(0.44 0.1 156.76);
  --primary-foreground: oklch(0.92 0.01 167.16);
  --secondary: oklch(0.26 0 0);
  --secondary-foreground: oklch(0.99 0 0);
  --muted: oklch(0.24 0 0);
  --muted-foreground: oklch(0.71 0 0);
  --accent: oklch(0.31 0 0);
  --accent-foreground: oklch(0.99 0 0);
  --destructive: oklch(0.31 0.09 29.79);
  --destructive-foreground: oklch(0.94 0 34.31);
  --border: oklch(0.28 0 0);
  --input: oklch(0.26 0 0);
  --ring: oklch(0.8 0.18 151.71);
  --chart-1: oklch(0.8 0.18 151.71);
  --chart-2: oklch(0.71 0.14 254.62);
  --chart-3: oklch(0.71 0.16 293.54);
  --chart-4: oklch(0.84 0.16 84.43);
  --chart-5: oklch(0.78 0.13 181.91);
  --sidebar: oklch(0.18 0 0);
  --sidebar-foreground: oklch(0.63 0 0);
  --sidebar-primary: oklch(0.44 0.1 156.76);
  --sidebar-primary-foreground: oklch(0.92 0.01 167.16);
  --sidebar-accent: oklch(0.31 0 0);
  --sidebar-accent-foreground: oklch(0.99 0 0);
  --sidebar-border: oklch(0.28 0 0);
  --sidebar-ring: oklch(0.8 0.18 151.71);
  --font-sans: Geist, sans-serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
